@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.5rem;
  --footer-height: 3.5rem;
}

@layer utilities {
  .footer-height {
    height: var(--footer-height);
  }

  .header-height {
    height: var(--header-height);
  }

  .bg-glass-morphism {
    background-clip: padding-box;
    backdrop-filter: blur(4px);
  }
}
